<select
  [(ngModel)]="selectExample"
  name="selectExample"
  (ngModelChange)="changeType($event)"
>
  <option [value]="EXAMPLE_CONTENT_TYPE.PROBLEM">{{
    EXAMPLE_CONTENT_TYPE.PROBLEM
  }}</option>
  <option [value]="EXAMPLE_CONTENT_TYPE.EXAMPLE">{{
    EXAMPLE_CONTENT_TYPE.EXAMPLE
  }}</option>
</select>
<div class="content__wrapper">
  <ng-container [ngSwitch]="selectExample">
    <ng-template [ngSwitchCase]="EXAMPLE_CONTENT_TYPE.PROBLEM">
      <span class="prop-title">一个问题：由一个空格引发的flex-item的思考</span>
      <span class="tip"
        >开发中，经常会出现莫名其妙的空格，影响布局，引出bug，这里需要思考下这里空格的由来，以及如何消除</span
      >
      <div><span>一些内容-></span> 按道理我前面一堆空白符号啊</div>
      <span class="tip"
        >这一点其实是由white-space引起的，默认normal，会将多个连续的空白或者换行合并成一个空白符号</span
      >
      <div style="display: flex">
        <span>一些内容-></span> 按道理有了white-space合并，前面有单个空格啊
      </div>
      <button (click)="show()">show hint</button>
      <div fxLayout="row" fxLayoutAlign="start stretch" style="height: 50px;border: 1px solid" *ngIf="showHint">
        <div style="border-radius: 5px;background: burlywood">flex-item1</div>
        <div style="border-radius: 5px;background: dodgerblue">flex-item2</div>
      </div>
    </ng-template>

    <ng-template [ngSwitchCase]="EXAMPLE_CONTENT_TYPE.EXAMPLE">
      <span class="prop-title">一个例子：利用flex完成多列布局</span>
      <span class="tip"
        >项目中，经常会用到多列布局，如详情页中的，两列布局，展示各个属性的值，这里用flex-wrap，完全可以满足需求</span
      >
      <span class="little-tip">一个简单的2列布局 span: flex: 0 0 50%;</span>
      <div class="flexbox" style="flex-wrap: wrap">
        <span style="flex: 0 0 50%;background-color: green;"
          >some content1</span
        >
        <span style="flex: 0 0 50%;background-color: gray;">some content2</span>
        <span style="flex: 0 0 50%;background-color: chocolate;"
          >some content3 i am very very long, i am very very long</span
        >
      </div>
      <span class="little-tip"
        >频繁的，我们会遇见各个flex-line间存在margin的情况</span
      >
      <span class="tip"
        >由flex-wrap生成多个flex-line，会形成自己的FFC，且行无法通过CSS选中，因此行与行之间无法直接margin，我们可以对每个flex-item进行margin</span
      >
      <div
        class="flexbox content-margin"
        style="flex-wrap: wrap;height: unset;border:none;"
      >
        <span style="flex: 0 0 50%;background-color: green;"
          >some content1</span
        >
        <span style="flex: 0 0 50%;background-color: gray;">some content2</span>
        <span style="flex: 0 0 50%;background-color: gray;">some content3</span>
        <span style="flex: 0 0 50%;background-color: green;"
          >some content4</span
        >
      </div>
      some other content
      <span class="tip"
        >往往最后一行的margin-bottom是我们所不希望的，这里由于ngIf的存在，不好直接让最后一行元素不用margin-bottom</span
      >
      试图container margin-bottom:-20px;抵消
      <div
        class="flexbox content-margin"
        style="flex-wrap: wrap;height: unset;border:none;margin-bottom:-20px;"
      >
        <span style="flex: 0 0 50%;background-color: green;"
          >some content1</span
        >
        <span style="flex: 0 0 50%;background-color: gray;">some content2</span>
        <span style="flex: 0 0 50%;background-color: gray;">some content3</span>
        <span style="flex: 0 0 50%;background-color: green;"
          >some content4</span
        >
      </div>
      some other content
      <hr />
      <span class="tip"
        >问题在于，若container内部无元素，会带来后续布局问题</span
      >
      试图container margin-bottom:-20px;抵消,后续内容与本行重叠
      <div
        class="flexbox content-margin"
        style="flex-wrap: wrap;height: unset;border:none;margin-bottom:-20px;"
      ></div>
      some other content
      <hr />
      一个比较好的解决办法，外层包一个 overflow:hidden 或者 display: flex 的 div
      <div style="overflow:hidden;">
        <div
          class="flexbox content-margin"
          style="flex-wrap: wrap;height: unset;border:none;margin-bottom:-20px;"
        >
          <span style="flex: 0 0 50%;background-color: green;"
            >some content1</span
          >
          <span style="flex: 0 0 50%;background-color: gray;"
            >some content2</span
          >
          <span style="flex: 0 0 50%;background-color: gray;"
            >some content3</span
          >
          <span style="flex: 0 0 50%;background-color: green;"
            >some content4</span
          >
        </div>
      </div>
      some other content
      <hr />
      我是一些内容，即使下面的flex-container的margin-bottom为-20px，也不会和我重叠
      <div style="display: flex">
        <div
          class="flexbox content-margin"
          style="flex-wrap: wrap;height: unset;border:none;margin-bottom:-20px;"
        ></div>
      </div>
      some other content
      <span class="tip"
        >提示：这里是因为外层的div生成了一个新的BFC，参与了外层的BFC排列，他自身的margin为0，外层BFC只看他的margin，而从上往下依次排列，因此这个div不会影响其他文档元素</span
      >
    </ng-template>
  </ng-container>
</div>
